<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST">
      <label for="unitNumber">unitNumber</label>
      <input
        type="text"
        id="unitNumber"
        name="unitNumber"
        required
      /><br /><br />
      <label for="streetNumber">streetNumber</label>
      <input
        type="text"
        id="streetNumber"
        name="streetNumber"
        required
      /><br /><br />
      <label for="streetName">streetName</label>
      <input
        type="text"
        id="streetName"
        name="streetName"
        required
      /><br /><br />
      <label for="streetType">streetType</label>
      <input
        type="text"
        id="streetType"
        name="streetType"
        required
      /><br /><br />
      <label for="suburb">suburb</label>
      <input type="text" id="suburb" name="suburb" required /><br /><br />
      <label for="stateCode">stateCode</label>
      <input type="text" id="stateCode" name="stateCode" required /><br /><br />
      <label for="postCode">postCode</label>
      <input type="text" id="postCode" name="postCode" required /><br /><br />
      <input type="submit" value="Submit" />
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#unitNumber").on("input", function () {
          if ($(this).val().trim() !== "") {
            $("#streetNumber").prop("disabled", true);
          } else {
            $("#streetNumber").prop("disabled", false);
          }
        });

        $("#streetNumber").on("input", function () {
          if ($(this).val().trim() !== "") {
            $("#unitNumber").prop("disabled", true);
          } else {
            $("#unitNumber").prop("disabled", false);
          }
        });
      });
    </script>
  </body>
</html>
